@import
url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

/*Estilos para la barra de navegación*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

.item{
    padding: 1rem;
}

.menu a{
    color: var(--blanco);
    text-decoration: none;
}

.navbar-button{
    background-color: var(--azuloscuro);
    padding: 0.5rem 1rem;
    color: var(--blanco);
    border-radius: 5px;
    font-family: 'Marcellus', serif;
    font-size: 1em;
}

.menu i{
    margin-right: 0.5rem;
}

.logo img{
    height: 3rem;
}


/*Estilos para los features*/

#features{
    background: url(../recursos\ maquetacion/index/bg-features.png);
    color: white;
    padding-top: 1rem;
    }

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}

.feature-black{
    background-color: rgba(0,0,0,0.59);
}

/*Estilos para la seccion 1 del Inicio*/


.seccion1 {
    width: 100%;
    padding: 0px;
}

.imagen1 {
    width: 100%;
    position: inherit;
}

.texto1 {
    position: absolute;
    font-size: 30px;
    width: 50vw;
    height: 15%;
    bottom: 1px;
    left: 5px;
    padding: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: white;
}

/*Estilos para la seccion 2*/

.seccion2 {
    width: 95%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    text-align: justify;
    align-items: center;
    padding: 20px;
}

.texto2{
    width: 55%;
    background-color: #ffffff;
    float: inline-start;
    margin-left: 5%;
    padding: 40px;
}


.imagen2 {
    width: 200px;
    height: 250px;
    margin-left: 30px;
    background-color: #ffffff;
}

/*Estilos para el mapa*/


#Ubicanos {
    width: 100%;
    height: 480px;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.info1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.info2 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.info3 {
    font-size: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-color: #0B3860;
}

/*Estilo seccion opiniones*/

#opiniones {
    width: 100%;
    height: 550px;
    align-items: center;
    text-align: center;
    background-color: #ffffff;

}

#opiniones h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 40px;
    position: relative;
    left: 10px;
    bottom: 1%;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.contenedor img {
    width: 100%;
    height: 200px;
}

.centrado{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.comentario {
    width: 300px;
    height: 230px;
    margin: 10px 10px 10px 10px;
    bottom: 60px;
    position: relative;
    display: inline-block;
    text-align: center;
    background: linear-gradient(70deg, #337AB7, #0B3860);
}

.comentario img {
    width: 100%;
    height: 45%;
    position: relative;
}

.comentario .user1 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    left: 9%;
    top: 9%;

}

.nombre {
    color: white;
    position: absolute;
    top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 100px;
}

.op {
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 17px;
    padding: 15px;

}

.comentario .stars {
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    left: 34%;
    top: 13%;
    padding: 2px;
}

.linea-discontinua {
    height: 1px;
    width: 90px;
    position: relative;
    left: 47%;
    bottom: 10%;
    border-top: 11px dashed rgb(151, 151, 151);
    margin: 35px 0;
    position: relative;
}

/*Estilos footer*/

.footer {
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 30px 60px; /* Ajusta el padding horizontal */
    display: flex; /* Utiliza flexbox para alinear los elementos */
    justify-content: space-around; /* Distribuye los elementos uniformemente */
}

.footer .infofooter i {
    color: white;
}

.infofooter {
    width: 300px; /* Ancho fijo para cada elemento */
    text-align: justify; /* Centra el contenido */
    padding: 0px 30px 0px 30px;
}

.fot {
    font-size: 12px;
}

.center {
    text-align: center;
}
/*Reservar*/

.fijado {
    position: absolute;
    width: 20px;
    height: 250px;
    right: 0%;
    top: 65%;
    background-color: #9C2759;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 27px;
    color: white;

}


